@model Motorcycle_Shop_Project.Models.ColorDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Motorcycle_Shop_Project.Models
@using Graduation_API.Services.ClassServices;
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_LayoutManagerment.cshtml";
}
<style>
    label{
        color:black;
    }
    h1{
        color:black;
        font-weight:500;
    }
</style>
<h1>QUẢN LÍ MÀU SẮC</h1>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        <h3>@ViewBag.Message</h3>
    </div>
}
<form asp-action="ColorCUPage" class="form">
    <input asp-for="Id" style="width:0px;height:0px;"/>
    <div class="row mt-5">
        <div class="col-md-5">
            <label class="col-md-5"><strong>Mã Màu:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                <input asp-for="Id_Color" placeholder="Color Id (#)" required/>
                <span asp-validation-for="Id_Color" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-5"><strong>Tên Màu:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-signature" aria-hidden="true"></i></span>
                <input asp-for="Color_Name" placeholder="Color name" required/>
                <span asp-validation-for="Color_Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-5"><strong>Mô tả:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-signature" aria-hidden="true"></i></span>
                <input asp-for="Description" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div style="height:33px;"></div>
            <div class="form-input">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered justify-content-center">
    <thead>
        <tr><th colspan="5" class="text-center" style="background-color:red; color:white;">DANH SÁCH MÀU SẮC</th></tr>
        <tr style="background-color:red; color:white;">
            <th>Mã Màu</th>
            <th>Tên Màu</th>
            <th>Mô tả</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody style="background-color:white;">
        @foreach (var item in Model.ColorList) {
                <tr>
                    <td>
                        @item.Color_Id
                    </td>
                    <td>
                        @item.Color_Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("Detail", "Color",new { id = item.Id})'" />
                        <img src="/images/ask_question_16px.png" alt="LOGO">
                    </td>
                </tr>
        }
    </tbody>
</table>
<script>
    var alert = document.querySelector('.alert')
    if(alert != null){
        setTimeout(function(){
            alert.remove()
        }, 3000)
    }
</script>