@model Tuple<List<Motorcycle_Shop_Project.Models.ProductViewModel>, List<Motorcycle_Shop_Project.Models.CartViewModel>>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container fix-ctn">
    <div class="breadscrumb">
        <a class="parent" href="/">Trang chủ</a>
        <span class="img">❯</span>
        <a class="current">Danh sách các sản phẩm đã lưu</a>
    </div>
    <div class="option d-none d-md-block">
        <div class="row">
            <div class="col-9">
                <a class="hide-product btn-outline-filter btn-option mr-4 btn-category btn-active select-category">TẤT CẢ</a>
                <a class="hide-product btn-outline-filter btn-option mr-4 btn-category select-category">HOT</a>
                @if (ViewBag.Categories != null)
                {
                    @foreach (EF_CODEFIRST_FLUENT_API.DomainClass.Category x in ViewBag.Categories)
                    {
                        <a class="hide-product btn-outline-filter btn-option mr-4 select-category" id="@x.Id" onclick="location.href='@Url.Action("FilterByCategoryName", "Product",new { category_name = x.Category_Name})'">@x.Category_Name</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="homepage-product-head-right-mobile-v2">
        <div class="hp-mobile-select-text">
            <p>TẤT CẢ</p>
            <div class="hp-mobile-select-item"><i class="fa fa-angle-down"></i></div>
        </div>
        <div class="hp-mobile-select-menu">
            <p class="select-menu-item active">TẤT CẢ</p>
            <p class="select-menu-item">HOT</p>
            @if(ViewBag.Categories != null){
                @foreach (EF_CODEFIRST_FLUENT_API.DomainClass.Category x in ViewBag.Categories)
                {
                    <p class="select-menu-item">@x.Category_Name</p>
                }
            }
        </div>
    </div>

    <div id="product-container" class="row product-list">
        @if(Model != null){
            @foreach (var x in Model.Item2)
            {
                @foreach (var y in Model.Item1)
                {
                    @if (x.Save_Product_Detail.Product_Detail_Id == y.Product_Detail.Id)
                    {
                        <div class="homepage-product-slide-tab col-12 col-xl-3 col-lg-4 col-md-6 show">
                            <div class="homepage-product-slide-tab-top">
                                <div class="img-product">
                                    <div class="image-motor-product">
                                        <img src="~/images/@y.Product_Detail.Image">
                                    </div>
                                </div>
                            </div>
                            <div class="name-price-motor w-100">
                                <p class="homepage-product-slide-tab-name w-100">@y.Product.Product_Name</p>
                                <p class="homepage-product-slide-tab-price w-100 homepage-txt-price">
                                    Từ
                                    @string.Format("{0:0,0}", @y.Product_Detail.Price) VNĐ
                                </p>
                            </div>
                            <a href="/productdetail/@y.Product_Detail.Id">
                                <div class="homepage-product-slide-tab-detail d-flex align-items-center justify-content-center" style="cursor: pointer">
                                    Xem chi tiết
                                </div>
                                <div class="overlay-circle-hover">
                                </div>
                            </a>
                        </div>
                    }
                }
            }
        }else{
            <h1>Chưa có sản phẩm</h1>
        }
    </div>
    <p class="empty-list ">Hiện tại chưa có sản phẩm bạn tìm kiếm</p>
</div>
