@*@model Motorcycle_Shop_Project.Models.Ware_HouseDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Motorcycle_Shop_Project.Models
@using Graduation_API.Services.ClassServices;
@{
    ViewBag.Title = "Ware_House";
    Layout = "~/Views/Shared/_LayoutManagerment.cshtml";
}
<style>
    label{
        color:black;
    }
    h1{
        color:black;
        font-weight:500;
    }
</style>
<h1>QUẢN LÍ KHO HÀNG</h1>
<form asp-action="Ware_HouseCUPage" class="form">
    <input asp-for="Id" style="width:0px;height:0px;visibility: hidden;"/>
    <div class="row mt-5">
        <div class="col-md-5">
            <label class="col-md-5"><strong>Mã Kho hàng:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <input asp-for="Ware_House_Id" placeholder="Mã Kho hàng / Ware House Id" />
                <span asp-validation-for="Ware_House_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-5"><strong>Tên Kho hàng:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-signature"></i></span>
                <input asp-for="Ware_House_Name" placeholder="Tên Kho hàng / Ware house name" />
                <span asp-validation-for="Ware_House_Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Ngày Tạo:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
                <input asp-for="Create_Date" type="datetime-local"/>
                <span asp-validation-for="Create_Date" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-5"><strong>Địa Chỉ:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-map-location-dot"></i></span>
                <input asp-for="Address" placeholder="Địa Chỉ / Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Thành Phố:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-city"></i></span>
                <input asp-for="City" placeholder="Thành phố / City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Quốc Gia:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-earth-americas"></i></span>
                <input asp-for="Country" placeholder="Quốc Gia / Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-3">Trạng Thái:</label>
            <select asp-for="Status" asp-items="@ViewBag.Status" class="form-select" style="width:95px;">
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <div style="height:33px;"></div>
            <div class="form-input">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered">
    <thead>
        <tr><th colspan="8" class="text-center" style="background-color:red; color:white;">DANH SÁCH KHO HÀNG</th></tr>
        <tr style="background-color:red; color:white;">
            <th>Mã Kho hàng</th>
            <th>Tên Kho hàng</th>
            <th>Ngày tạo</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody style="background-color:white;">
        @foreach (var item in Model.Ware_HouseList) {
                <tr>
                    <td>
                        @item.Ware_House_Id
                    </td>
                    <td>
                        @item.Ware_House_Name
                    </td>
                    <td>
                        @item.Create_Date
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @(item.Status == 0 ?"Không hoạt động": "Đang hoạt động")
                    </td>
                    <td>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("Detail", "Ware_House",new { id = item.Id})'" />
                        <img src="/images/ask_question_16px.png" alt="LOGO">
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Position",new { id = item.Id})'" />
                        <img src="/images/trash-bin.png" alt="LOGO">
                    </td>
                </tr>
        }
    </tbody>
</table>*@